/* #frame-portrait {
    height: 40vh;
}

.about {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-wp {
    width: 600px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 8em;
    align-items: center;
    text-align: justify;
}

.about-links {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    gap: .6em;
    margin: 1em 0;
}

.about-links img {
    height: 1em;
    filter: brightness(0);
}

.about-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: color .3s ease;
}

.about-links a:hover {
    color: var(--accent);
}

@media only screen and (max-width: 768px) {
    .about-wp {
        width: 100%;
        padding: 2em;
        box-sizing: border-box;
        grid-template-columns: auto;
        gap: .5em;
        justify-items: center;
    }
} */

.about-wp {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
.about {
    display: flex;
    flex-direction: row;
    gap: 3em;
    width: 650px;
    max-height: 100%;
}

.portrait-wp {
    height: 40vh;
    min-height: 40vh;
    align-self: center;
}

#frame-portrait {
    height: 100%;
}

.about-links {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    gap: .6em;
    margin: 1em 0;
}

.about-links img {
    height: 1em;
    filter: brightness(0);
}

.about-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: color .3s ease;
}

.about-links a:hover {
    color: var(--accent);
}

@media only screen and (max-width: 768px) {
    .about {
        flex-direction: column;
        width: 100%;
        gap: 1em;
        padding: 0 2em;
        box-sizing: border-box;
    }
    #bg3 {
        opacity: 0;
    }
}