#homepage {
    display: grid;
    grid-template-rows: 1fr 50% 2fr;
    gap: 2em;
    align-items: center;
}

.scroll-indication {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5em;
}
.scroll-indication svg {
    height: 2em;
}
.scroll-text {
    margin: 0;
}

@media only screen and (max-width: 768px) {
    #homepage {
        grid-template-rows: 1fr 50% 1fr;
    }
}

