.projectpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.projectpage-wp {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0 2em 2em 2em;
}

.projectpage-title {
    text-align: center;
    font-size: 64px;
}

.projectpage-info {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.info-area {
    display: flex;
    flex-direction: column;
}

.info-name {
    color: var(--accent);
    font-weight: bold;
}

.projectpage-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4em;
}

.projectpage-buttons > * {
    margin-top: 2em;
}

.projectpage-back {
    position: fixed;
    z-index: 99;
    left: 5em;
    width: 3em;
    top: 10em;
}

.projectpage-back:hover>*{
    stroke: var(--accent) !important;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .projectpage-back {
        left: 2em;
        top: 6em;
    }
    .projectpage-wp {
        width: 100%;
        box-sizing: border-box;
    }

    .disappear-small {
        display: none;
    }
}