.portrait {
    height: 40vh;
}

.about {
    margin: 2em auto 5em;
    width: 60vw;
    display: grid;
    grid-template-columns: auto auto;
    gap: 2em;
    align-items: center;
    text-align: justify;
}

.about-mail {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    gap: .6em;
    margin: 1em 0;
}

.about-mail img {
    height: 1em;
    filter: brightness(0);
}

.about-mail a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: color .3s ease;
}

.about-mail a:hover {
    color: var(--accent);
}

@media only screen and (max-width: 768px) {
    .about {
        margin: 1em auto 3em;
        grid-template-columns: auto;
        gap: .5em;
    }
}