#p-categories-wp {
    display: flex;
    justify-content: center;
}

#p-categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    margin: 0 2em;
    /* justify-content: center;
    align-self: center; */
} 

#categories-select {
    display: none;
}

#categories-select {
    font: inherit;
    background: var(--white);
    border: solid 2px var(--black);
    padding: .5em 1em;
}

.p-category.selected {
    background: var(--accent);
}

@media only screen and (max-width: 768px) {
    #categories-select {
        display: inline-block;
    }
    #p-categories {
        display: none;
    }
}