#p-categories {
    display: flex;
    /* justify-content:space-evenly; */
    justify-content: center;
    gap: 1em;
    /* margin: 2em auto; */
    position: absolute;
    width: 80%;
    bottom: 4em;
    /* left: 50%;
    transform: translateX(-50%); */
}

.p-category {
    background: var(--white);
    border: solid 2px var(--black);
    /* border-radius: 1.5em; */
    padding: .5em 1em;
    text-align: center;
    transition: background .3s ease, color .3s linear;
}

.p-category:hover {
    background: var(--accent);
    cursor: pointer;
}

.p-category.selected {
    background: var(--accent);
}

@media only screen and (max-width: 768px) {
    #p-categories {
        /* margin: 1em 0; */
        overflow:auto;
        flex-wrap: wrap;
        justify-content:center;
        gap: .1em;
    }
    /* .p-category {
        margin: .2em;
    } */
}