.p-categories-wrapper {
    position: absolute;
    bottom: 0;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

#p-categories {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1em;
    text-align: center;
    /* margin: 2em auto; */
    /* left: 50%;
    transform: translateX(-50%); */
}

.p-category {
    /* height: inherit; */
    background: var(--white);
    border: solid 2px var(--black);
    /* border-radius: 1.5em; */
    padding: .5em 1em;
    text-align: center;
    transition: background .3s ease, color .3s linear;
    display: flex;
    align-items: center;
}

.p-category:hover {
    background: var(--accent);
    cursor: pointer;
}

.p-category.selected {
    background: var(--accent);
}

@media only screen and (max-width: 768px) {
    #p-categories {
        /* margin: 1em 0; */
        overflow:auto;
        flex-wrap: wrap;
        justify-content:center;
        gap: .5em;
    }
    /* .p-category {
        margin: .2em;
    } */
}