#contact-area {
    text-align: center;
    background: var(--basic);
    color: rgb(255, 255, 255);
    margin: 0 auto;
    padding: 3em 0;
}

#contact-title {
    margin-top: 0;
}

#contact-area a {
    color: white;
    text-decoration: none;
    transition: color .3s ease;
}

#contact-area a:hover {
    color: var(--accent);
}