#header {
    z-index: 99;
    width: 100vw;
    position: fixed;
    top: 0;
    padding: 2em 5em;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 2em;
    align-items: center;
    background-color: var(--white);
}

#h-title {
    font-size: 36px;
    margin: 0;
    cursor: pointer;
}

#header a {
    text-decoration: none;
    color: var(--basic);
}

/* #h-categories > * {
    margin: 0 1em;
    display: inline-block;
} */

#h-categories {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

#h-categories > *:hover {
    cursor: pointer;
}

#h-categories>*:after {
    content: "";
    display: block;
    background: var(--accent);
    width: 0%;
    height: .12em;
    position:relative;
    left: 50%;
    transition: width .3s ease, left .3s ease;
}

#h-categories>*:hover:after {
    width: 100%;
    left: 0;
}

#h-categories>*.selected:after {
    width: 100%;
    left: 0;
}

@media only screen and (max-width: 768px) {
    #header {
        padding: 2em 2em;
    }
    #h-title {
        font-size: 24px;
    }
    #h-categories {
        gap: 1em;
    }
}