/* #projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    justify-content: stretch;
} */

#projects {
    display: flex;
    flex-direction: row;
    /* overflow: auto; */
    gap: 0px;
    width: 100vw;
    /* height: 60vh; */
    /* touch-action: pan-y; */
    /* padding: 50px; */
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.frame {
    width: auto;
    height: 250px;
}

.inside-frame {
    position: absolute;
    top: 94px; left: 50%; 
    transform: translate(-50%, 0);
    width: 153.82px;
    height: 153.82px;
    border: solid 2px black;
}

.projprev {
    /* position: relative;
    height: 15em; */
    margin: 0 30px;
}

.projprev-hover {
    /* width: 100%;
    height: 100%; */
    background: red;
    color:  var(--basic);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: opacity .3s ease;
    overflow: hidden;
    padding: 2em;
    box-sizing: border-box;
}

.projprev-hover:hover {
    opacity: 1;
}

.projprev img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projprev * {
    margin: 0;
}

.projprev-title {
    margin-bottom: 1em;
}

.projprev-categories {
    display: flex;
    flex-direction: column;
}

/* @media only screen and (max-width: 768px) {
    #projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .5em;
        justify-content: stretch;
    }
    .projprev {
        position: relative;
        height: 7em;
    }
} */