@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
  font-family: Poppins, 'Courier New', Courier, monospace;
}

h1 {
  /* font-family: Stint Ultra Condensed, 'Courier New', Courier, monospace; */
  font-family: Satisfy, 'Courier New', Courier, monospace;
  /* font-family: Playfair Display, 'Courier New', Courier, monospace; */
}

:root {
  --basic: rgb(34, 34, 34);
  --grey: rgb(233, 233, 233);
}