@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap'); */

@font-face {
  font-family: "Bolandes";
  src: url("/src/assets/utils/Bolandes\ -\ Light.ttf");
}

body {
  font-family: Poppins, 'Courier New', Courier, monospace;
  margin: 0;
  overflow: hidden;
}

h1, h2, h3 {
  font-family: Bolandes, 'Courier New', Courier, monospace;
}

:root {
  --black: rgb(34, 34, 34);
  --white: rgb(255, 255, 255);
  --accent: #F26161;
}

.bg {
  position: absolute;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.bg * {
  position: absolute;
}


/* width */
::-webkit-scrollbar {
  width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
  background:var(--grey);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(182, 182, 182); 
  border-radius: 1em;
  transition: background .3s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(134, 134, 134); 
}