@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
  font-family: Poppins, 'Courier New', Courier, monospace;
  /* background: #f3c1b9; */
}

h1 {
  /* font-family: Stint Ultra Condensed, 'Courier New', Courier, monospace; */
  font-family: Satisfy, 'Courier New', Courier, monospace;
  /* font-family: Playfair Display, 'Courier New', Courier, monospace; */
}

:root {
  --basic: rgb(34, 34, 34);
  --grey: rgb(233, 233, 233);
  --accent: #05d584;
}


/* width */
::-webkit-scrollbar {
  width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
  background:var(--grey);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(182, 182, 182); 
  border-radius: 1em;
  transition: background .3s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(134, 134, 134); 
}