.lighthouse {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(34, 34, 34, 0.98);
    width: 100vw;
    height: 100vh;
    padding: 2em;
    display: grid;
    grid-template-rows: calc(100% - 10em) 5em;
    grid-template-columns: 5em calc(100% - 16em) 5em;
    grid-template-areas: 
    "l-arrow current r-arrow"
    "thumbnails thumbnails thumbnails";
    gap: 1em;
    justify-items: center;
    align-items: center;
}

.l-items {
    height: 100%;
    width: 100%;
    grid-area: thumbnails;
    /* display: grid;
    grid-template-columns: repeat(9, calc(100%/9 - .4em));
    grid-template-rows: 100%;
    gap: .5em; */
    display: flex;
    flex-direction: row;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
}

.l-items > * {
    height: 4.8em;
    width: 7em;
    cursor: pointer;
    object-fit: cover;
    margin-right: .5em;
    position: relative;
}

.currentThumbnail {
    border: solid rgb(255, 255, 255) .1em;
    /* filter: brightness(100); */
}

.currentPicture {
    grid-area: current;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.currentPicture > * {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* .currentPicture > .video {
    width: 100%;
    height: 100%;
} */

.left-arrow {
    grid-area: l-arrow;
}

.right-arrow {
    grid-area: r-arrow;
    transform: rotateZ(180deg);
}

.left-arrow, .right-arrow {
    width: 2em;
    filter: brightness(.3);
    cursor: pointer;
    transition: filter .3s ease;
}

.left-arrow:hover, .right-arrow:hover {
    filter: brightness(1);
}

.close {
    width: 1.2em;
    height: auto;
    position: absolute;
    top: 3em;
    right: 8em;
    cursor: pointer;
    filter: brightness(.3);
    transition: filter .3s ease;
}

.close:hover {
    filter: brightness(1);
}

/* width */
::-webkit-scrollbar {
    width: 1em;
}
  
/* Track */
::-webkit-scrollbar-track {
    background:rgb(94, 94, 94);
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(182, 182, 182); 
    border-radius: 1em;
}
  
/* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255); 
}